- content_for :header do
  = render 'help/header'

.card
  .card-body.p-4
    .h3.border-bottom
      = t(:help_links)[:headers][:header1]
    .d-flex.justify-content-between
      .d-flex.flex-column
        %h5.font-weight-bold
          = t(:home)[:links][:help1][:text]
        = link_to t(:home)[:links][:help1][:link], "https://i2b2.musc.edu/", target: :_blank
      .d-flex.flex-column
        %h5.font-weight-bold
          = t(:home)[:links][:help2][:text]
        = link_to t(:home)[:links][:help2][:link], "https://www.actnetwork.us/national/act-local-landing-pages-46EU-1434P4.html", target: :_blank
      .d-flex.flex-column
        %h5.font-weight-bold
          = t(:home)[:links][:help3][:text]
        %ul.pl-3.mb-0
          %li
            = link_to t(:home)[:links][:help3][:link1], "https://medicine.musc.edu/-/sm/medicine/departments/centers/bmic/f/basic-i2b2-guide.ashx?la=en", target: :_blank
          %li
            = link_to t(:home)[:links][:help3][:link2], "https://medicine.musc.edu/departments/centers/bmic/data-request/faqs", target: :_blank
    .h3.border-bottom.mt-3
      = t(:help_links)[:headers][:header2]
    .d-flex
      .d-flex.flex-column
        %h5.font-weight-bold
          = t(:home)[:links][:contact][:header]
        = t(:home)[:links][:contact][:link].html_safe