.modal-dialog{ role: 'document' }
  .modal-content
    = form_for [group, service], remote: true, html: { autocomplete: 'off' } do |f|
      = hidden_field_tag :group_id, value: group.id
      .modal-header
        %h4.modal-title
          = t("groups.services.form.header.#{action_name}", service: service.sparc_service.try(:name))
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        - if action_name == 'new'
          .form-group
            = f.hidden_field :sparc_id
            = label_tag :service_search, Service.human_attribute_name(:sparc_service), class: 'required'
            .input-group
              = label_tag :service_search, class: 'input-group-icon' do
                %span.text-muted
                  = icon('fas', 'search')
              = text_field_tag :service_search, service.sparc_service.try(:name), class: 'form-control typahead', placeholder: t('groups.services.form.placeholders.service_search')
        .form-row
          .form-group.col-6.mb-0
            = f.label :status, class: 'required'
            = f.select :status, options_for_select(t('requests.statuses').slice(:pending, :in_process).invert, f.object.status), { include_blank: true }, class: 'form-control selectpicker'
          .form-group.col-6.mb-0
            = f.label :condition, class: 'required'
            = f.select :condition, options_for_select(t('groups.services.conditions').invert, f.object.condition), { include_blank: true }, class: 'form-control selectpicker'
      .modal-footer
        %button.btn.btn-primary{ type: 'submit' }<
          - if action_name == 'edit'
            = t('actions.save')
          - else
            = icon('fas', 'plus mr-1')
            = t('actions.add')
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
