.modal-dialog{ role: 'document' }
  .modal-content
    = form_for [group, source], remote: true do |f|
      = hidden_field_tag :group_id
      .modal-header
        %h4.modal-title
          = t("groups.sources.form.#{action_name}", source_name: source.value)
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-group
          = f.label t('groups.sources.form.name_placeholder')
          .input-group
            = text_field_tag :name, groups_source ? groups_source.name : nil, class: 'form-control', id: 'name'
        .form-group
          = f.label t('groups.sources.form.description_placeholder')
          .input-group
            = text_field_tag :description, groups_source ? groups_source.description : nil, class: 'form-control', id: 'description'
        - unless action_name == 'edit'
          .form-group
            = f.label t('groups.sources.form.key_placeholder')
            .input-group  
              = f.text_field :key, class: 'form-control', id: 'key'
        .form-group 
          = f.label t('groups.sources.form.value_placeholder')
          .input-group
            = f.text_field :value, class: 'form-control', id: 'value'
      .modal-footer
        - unless action_name == 'edit'
          %button.btn.btn-primary.form-submit{ type: 'submit' }<
            = icon('fas', 'plus mr-1')
            = t('actions.add')
        - else
          %button.btn.btn-primary.form-submit<
            = t('actions.save')
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]