%table
  %thead
    %tr
      %th{ colspan: 2, style: 'padding: 0.5rem;' }
        = t('mailers.request_info')
  %tbody
    %tr
      %th{ style: 'text-align:right;padding: 0.5rem;' }
        = SparcRequest.human_attribute_name(:id)
      %td{ style: 'padding: 0.5rem;' }
        = request.identifier
    %tr
      %th{ style: 'text-align:right;padding: 0.5rem;' }
        = "Sub-Request ID"
      %td{ style: 'padding: 0.5rem;' }
        = specimen.line_item.specimen_identifier
    %tr
      %th{ style: 'text-align:right;padding: 0.5rem;' }
        = SparcRequest.human_attribute_name(:protocol_id)
      %td{ style: 'padding: 0.5rem;' }
        = request.protocol_id
    %tr
      %th{ style: 'text-align:right;padding: 0.5rem;' }
        = SPARC::Protocol.human_attribute_name(:short_title)
      %td{ style: 'padding: 0.5rem;' }
        = request.protocol.short_title
    %tr
      %th{ style: 'text-align:right;padding: 0.5rem;' }
        = SparcRequest.human_attribute_name(:specimen_requests)
      %td{ style: 'padding: 0.5rem;' }
        - request.specimen_requests.joins(:group).each do |sr|
          %p{ style: "margin:0;" }
            - plural = sr.number_of_specimens_requested.try(:>, 1)
            - if sr.group.process_sample_size
              = "- " + t("requests.table.specimens.line_item_with_sample_size.#{plural ? 'plural' : 'singular'}", source: sr.source.value, amount_requested: sr.number_of_specimens_requested, min_sample_size: sr.minimum_sample_size, specimen_identifier: sr.specimen_identifier)
            - else
              = "- " + t("requests.table.specimens.line_item_no_sample_size.#{plural ? 'plural' : 'singular'}", source: sr.source.value, amount_requested: sr.number_of_specimens_requested, specimen_identifier: sr.specimen_identifier)
