.modal-dialog.query-modal{ role: 'document' }
  .modal-content
    = form_with url: save_selection_i2b2_queries_path, html: { id: 'sourcesForm', autocomplete: 'off', onsubmit: 'return false' } do |f|
      .modal-header
        %h4.modal-title
          = "Query Select"
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        = hidden_field_tag :user_id, requester.id
        - if protocol
          = hidden_field_tag :protocol_id, protocol.id
        .row
          .col-6.border-right
            .input-group.mb-3
              %input{type: 'text', class: 'query_search form-control form-control-lg', placeholder: 'Enter your search query here...'}
              .input-group-append
                %button.clear_search_button.btn.btn-outline-secondary{type: 'button'}
                  = "Clear"
                %button.query_search_button.btn.btn-outline-primary{type: 'button'}
                  = "Search"
            .ml-3
              .h4
                = 'Sort'
              .h5
                = 'Date (Query Created)'
              .ml-3
                .custom-control.custom-radio
                  %input{type: 'radio', id: 'date_asc', name: 'sortRadio', class: 'custom-control-input sort_radio_button', checked: true}
                  %label{class: 'custom-control-label', for: 'date_asc'}
                    = 'Ascending'
                .custom-control.custom-radio
                  %input{type: 'radio', id: 'date_desc', name: 'sortRadio', class: 'custom-control-input sort_radio_button'}
                  %label{class: 'custom-control-label', for: 'date_desc'}
                    = 'Descending'
              .h5
                = 'Name (Alphabetical)'
              .ml-3
                .custom-control.custom-radio
                  %input{type: 'radio', id: 'name_asc', name: 'sortRadio', class: 'custom-control-input sort_radio_button'}
                  %label{class: 'custom-control-label', for: 'name_asc'}
                    = 'Ascending'
                .custom-control.custom-radio
                  %input{type: 'radio', id: 'name_desc', name: 'sortRadio', class: 'custom-control-input sort_radio_button'}
                  %label{class: 'custom-control-label', for: 'name_desc'}
                    = 'Descending'
          .col-6.border-left
            = render 'query_select', musc_queries: musc_queries, shrine_queries: shrine_queries, musc_query_id: musc_query_id, shrine_query_id: shrine_query_id, specimen_option: specimen_option, active_tab: ''
      .modal-footer
        %button.btn.btn-primary#i2b2_select_submit{ type: 'submit' }<
          = t('actions.save')
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]