.modal-dialog{ role: 'document' }
  .modal-content
    = form_for [:control_panel, group, source], remote: true do |f|
      = hidden_field_tag :group_id
      .modal-header
        %h4.modal-title
          = "Edit #{source.value}"
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        %p
          = "NOTE:  If a source with a different key is needed, you will need to delete this source from the group and create a new one with the desired key."
        .form-group.mb-2
          .input-group
            = text_field_tag :name, groups_source_name, class: 'form-control', placeholder: 'Enter the alias for this source-group association'
        .form-group.mb-0  
          .input-group
            = f.text_field :value, class: 'form-control', placeholder: 'Enter the name for this source to be displayed to users', id: 'value'
      .modal-footer
        %button.btn.btn-primary<
          = t('actions.save')
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]