.modal-dialog.modal-lg{ role: 'document' }
  .modal-content
    = form_for specimen_record, remote: true do |f|
      = f.hidden_field :mrn, value: patient.mrn
      .modal-header
        %h5.modal-title
          = t(:specimen_records)[:form][:header]
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-group
          = f.label :protocol_id, class: 'required'
          = f.select :protocol_id, options_from_collection_for_select(patient.protocols, :id, :identifier ), { include_blank: t(:constants)[:select_placeholder] }, class: 'form-control selectpicker'
        .form-group
          = f.label :quantity, class: 'required'
          = f.text_field :quantity, class: 'form-control'
      .modal-footer
        = f.submit t(:actions)[:release], class: 'btn btn-primary'
        %button.btn.btn-secondary{ data: { dismiss: 'modal' } }
          = t(:actions)[:close]
