- if @group.notify_when_all_specimens_released?
  %p
    = t('mailers.specimen_mailer.release_email.specimen_batch_text', number_of_specimens_requested: @specimen.line_item.number_of_specimens_requested, specimen_type: @specimen.source.value)
- else
  %p
    = t('mailers.specimen_mailer.release_email.specimen_id_text', specimen_id: @specimen.identifier).html_safe
= @group.release_email
= render 'layouts/mailer/request_link', request: @request
= render 'layouts/mailer/request_information', request: @request, specimen: @specimen
