- content_for :filters do
  = render 'groups_sources/filters', group: group

%main.card#groupSection
  %table.table.table-bordered.table-hover.mb-0.border-0#groupsSourcesTable{ data: { toggle: 'table', url: group_groups_sources_path(group, sort_by: params[:sort_by], sort_order: params[:sort_order], page: params[:page]), side_pagination: 'server' } }
    %thead
      %tr
        %th.col-3{ data: { field: 'name' } }
          = GroupsSource.human_attribute_name(:name)
        %th.col-3{ data: { field: 'description' } }
          = GroupsSource.human_attribute_name(:description)
        %th.col-2{ data: { field: 'source_value' } }
          = Source.human_attribute_name(:value)
        %th.col-2{ data: { field: 'source_key' } }
          = Source.human_attribute_name(:key)
        %th.col-1{ data: { field: 'discard_age' } }
          = GroupsSource.human_attribute_name(:discard_age)
        %th.text-center.col-1{ data: { field: 'enabled' } }
          = "Enabled"
        %th.text-center.col-1{ data: { field: 'actions' } }
          = t('groups.sources.headers.actions')
