- content_for :filters do
  = render 'lab_honest_brokers/filters', group: group

%main.card#groupSection
  %table.table.table-bordered.table-hover.mb-0.border-0#honestBrokersTable{ data: { toggle: 'table', url: group_lab_honest_brokers_path(group, term: params[:term], sort: params[:sort], order: params[:order], page: params[:page]), side_pagination: 'server' } }
    %thead
      %tr
        %th.col-10.d-table-cell.d-md-none{ data: { field: 'user', sortable: 'true' } }
          = t('users.headers.user')
        %th.col-5.d-none.d-md-table-cell.border-left-0{ data: { field: 'name', sortable: 'true' } }
          = t('users.headers.name')
        %th.col-5.d-none.d-md-table-cell{ data: { field: 'email', sortable: 'true' } }
          = t('users.headers.email')
        %th.text-center.col-2{ data: { field: 'actions' } }
          = t('users.headers.actions')
