.card
  %table.table.table-bordered.table-hover.mb-0.border-0#usersTable{ data: { toggle: 'table', url: users_path(user_filter_params), side_pagination: 'server' } }
    %thead
      %tr
        %th.col-3.d-table-cell.d-md-none{ data: { field: 'user', sortable: 'true' } }
          = t('users.headers.user')
        %th.col-3.d-none.d-md-table-cell.border-left-0{ data: { field: 'name', sortable: 'true' } }
          = User.human_attribute_name(:name)
        %th.col-3.d-none.d-md-table-cell{ data: { field: 'email', sortable: 'true' } }
          = User.human_attribute_name(:email)
        %th.col-3{ data: { field: 'privileges' } }
          = t('users.headers.privileges')
        %th.col-2{ data: { field: 'groups' } }
          = t('users.headers.groups')
        %th.text-center.col-1{ data: { field: 'actions' } }
          = t('users.headers.actions')
