.card#draftRequests{ class: draft_requests.any? ? '' : 'd-none' }
  .card-body.d-flex.flex-column
    %h3.card-title
      = t(:requests)[:draft][:header]
    - draft_requests.each do |dr|
      .alert.alert-warning.draft-request{ role: 'alert' }
        = link_to 'javascript:void(0)', class: 'edit-draft-request', data: { url: edit_sparc_request_path(dr) } do
          = icon('fas', 'edit')
          = dr.identifier.truncate(60)
        = link_to 'javascript:void(0)', title: t(:requests)[:tooltips][:cancel], class: 'text-danger cancel-draft-request', data: { confirm_swal: true, url: sparc_request_path(dr), method: :delete } do
          = icon('fas', 'trash')
