#draftRequests{ class: draft_requests.any? ? '' : 'd-none' }
  - draft_requests.each do |dr|
    %h4.alert.alert-warning.draft-request.align-items-start{ role: 'alert' }
      .d-flex.flex-column
        - if current_user.can_edit_request?(dr)
          = link_to edit_sparc_request_path(dr), remote: true, title: t(:requests)[:tooltips][:edit_draft], class: 'edit-draft-request d-flex align-items-center', data: { toggle: 'tooltip' } do
            = icon('fas', 'edit mr-1')
            = request_title_display(dr)
        - else
          %span.d-flex.align-items-center
            = request_title_display(dr)
        %small.text-muted.mt-1<
          = requester_display(dr)
      - if current_user.can_edit_request?(dr)
        = cancel_request_button(dr)
