%filters.table-filters#requestFilters{ data: { url: sparc_requests_path } }
  = table_search('searchRequests')
  .tooltip-wrapper.d-flex.order-1{ title: t(:requests)[:filters][:status], data: { toggle: 'tooltip' } }
    = select_tag 'status', request_status_filter_options(params[:status]), class: 'selectpicker filter-select form-control', data: { field: 'status', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:requests)[:filters][:status] }
  .tooltip-wrapper.d-flex.order-3.order-sm-2{ title: t(:requests)[:filters][:sort_by], data: { toggle: 'tooltip' } }
    = select_tag 'sort_by', request_sort_filter_options(params[:sort_by]), class: 'selectpicker filter-select form-control', title: t(:requests)[:filters][:sort_by], data: { field: 'sort_by', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:requests)[:filters][:sort_by] }
  .tooltip-wrapper.d-flex.order-4.order-sm-3{ title: t(:requests)[:filters][:sort_order], data: { toggle: 'tooltip' } }
    = select_tag 'sort_order', request_sort_order_options(params[:sort_order]), class: 'selectpicker filter-select form-control', data: { field: 'sort_order', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:requests)[:filters][:sort_order] }
  - if current_user.lab_honest_broker? || current_user.admin?
    .tooltip-wrapper.d-flex.align-items-center.order-sm-4{ title: "Get CSV report of requests based on current filters", data: { toggle: 'tooltip' } }
      = link_to 'CSV Report', sparc_request_report_reports_path(format: :csv), class: 'btn btn-primary form-control filter-select', id: 'sparc_request_report'
  .placeholder.invisible.order-2.order-sm-5
  
