- unless defined?(is_draft)
  - is_draft = false

= form_for sparc_request, remote: true, method: sparc_request.persisted? ? :put : :post, html: { id: 'sparcRequestForm', autocomplete: 'off' } do |f|
  = hidden_field_tag :term,       params[:term]
  = hidden_field_tag :status,     params[:status]
  = hidden_field_tag :sort_by,    params[:sort_by]
  = hidden_field_tag :sort_order, params[:sort_order]
  = hidden_field_tag :page,       params[:page]
  = f.hidden_field :id
  = f.hidden_field :protocol_id
  = f.hidden_field :user_id
  = f.hidden_field :status

  = render 'sparc_requests/form/protocol_information', f: f, sparc_request: sparc_request, is_draft: is_draft
  = render 'sparc_requests/form/data_request', f: f
  = render 'sparc_requests/form/specimens', f: f, sparc_request: sparc_request
