%header
  .page-title
    = icon('fas', 'file-invoice')
    %span
      = t(:requests)[:header]
  = link_to new_sparc_request_path(status: params[:status], sort_by: params[:sort_by], sort_order: params[:sort_order]), remote: true, class: ['btn btn-lg btn-success', action_name == 'index' ? 'd-block' : 'd-none'], data: { confirm_swal: true, title: t('requests.confirms.create.title'), html: t('requests.confirms.create.html'), type: '', confirm_text: t('requests.confirms.create.confirm'), cancel_text: t('requests.confirms.create.cancel'), class: 'use-agreement text-left' } do
    = succeed t(:requests)[:create] do
      = icon('fas', 'plus mr-2')
