.card.request
  .card-header{ class: request.cancelled? ? 'collapsed' : '', data: { toggle: 'collapse', target: ".request-#{request.id}-collapse" } }
    .row
      .col-12.col-sm-10.d-flex.align-items-center
        %h4.d-flex.w-100.font-weight-bold.mb-2.mb-sm-0
          %span
            = icon('fas', 'caret-down mr-2 mt-0 mt-sm-1')
          = request_title_display(request, popover: true)
          .d-none.d-sm-inline-block
            = request_status_context(request)
      .col-12.col-sm-2.d-flex.flex-wrap.align-items-start.justify-content-between.justify-content-sm-end
        %h4.d-block.d-sm-none.mb-0
          = request_status_context(request)
        = request_actions(request)
  .collapse{ class: ["request-#{request.id}-collapse", request.cancelled? ? '' : 'show'] }
    .card-body
      .d-flex.flex-wrap.justify-content-between
        - if request.previously_submitted?
          %h4
            %small.text-muted<
              = requester_display(request)
        %h4
          %small<
            - if request.completed? && request.completer.present?
              = request_completer_display(request)
            - elsif request.cancelled? && request.canceller.present?
              = request_canceller_display(request)
            - else
              = request_duration_display(request)
      - if request.specimen_requests.any?
        %h4.card-title.font-weight-bold
          = SparcRequest.human_attribute_name(:specimen_requests)
        - request.specimen_requests.each do |li|
          .row.line-item
            .col-sm-4.col-12
              %h5.d-flex.flex-column.mb-0<
                .mb-1
                  = line_item_text(li)
                = query_display(li)
            .col-sm-8.col-12
              - unless request.cancelled?
                = render 'line_items/progress_bar', li: li
    - if request.previously_submitted?
      .card-body.border-top
        %h4.card-title.font-weight-bold<
          = SparcRequest.human_attribute_name(:additional_services)
        - request.additional_services.each do |li|
          .row.line-item
            .col-sm-4.col-12
              %h5.d-flex.mb-0<
                %span{ title: li.complete? ? t('requests.table.additional_services.complete') : t('requests.table.additional_services.incomplete'), data: { toggle: 'tooltip' } }
                  = li.complete? ? icon('fas', 'check text-success mr-2') : icon('fas', 'times text-danger mr-2')
                = li.service.name
            .col-sm-8.col-12
              = render 'line_items/progress_bar', li: li
