%br

- if @sparc_requests.empty?
  .panel.panel-default
    .panel-heading
      .panel-title
        Message
    .panel-body
      .form-group
        No active requests found! (
        = pluralize @all_sparc_requests.count, 'request'
        %br
        %br
        = link_to 'Create New Request', new_sparc_request_path, class: 'btn btn-primary'
- else
  %table.table.table-striped.table-bordered
    %tr
      %th Actions
      %th Title
      %th Description
      %th Estimated Start Date
      %th Estimated End Date
      %th Primary PI Name
      %th Specimen Service
      %th Specimen Service Source
      %th Number Of Specimens Requested
      %th Minimum Sample Size
      %th i2b2 Query Name
      %th Time Estimate
      %th Status

    - @sparc_requests.each do |request|
      %tr
        %td
          .action-buttons
            .btn-group
              - unless request.time_estimate.blank?
                = link_to "Finalize", sparc_request_update_status_path(request, new_status: 'In Process'), class: 'btn btn-success', data: { confirm: "Are you sure you would like to cancel this '#{request.status}' request?" }
              = link_to "Edit", edit_sparc_request_path(request), class: 'btn btn-warning'
              = link_to "Cancel", sparc_request_update_status_path(request, new_status: 'Cancelled'), class: 'btn btn-danger', data: { confirm: "Are you sure you would like to cancel this '#{request.status}' request?" }
        %td= request.title
        %td= request.description
        %td= request.start_date
        %td= request.end_date
        %td= request.primary_pi_name
        %td= request.service.name
        %td= request.service_source
        %td= request.number_of_specimens_requested
        %td= request.minimum_sample_size
        %td= request.query_name
        %td
          .time-estimate
            = request.time_estimate
            - if request.time_estimate == '>2 years'
              %span.glyphicon.glyphicon-flag.icon-alert{ data: { toggle: 'tooltip', title: "Time estimate indicates this request could take a long time to fulfill", html: true, placement: 'left' } }
        %td= request.status
