- funding_statuses  = PermissibleValue.get_hash('funding_status')
- funding_sources   = PermissibleValue.get_hash('funding_source')

.card#requests
  .card-header.table-filters{ data: { url: sparc_requests_path } }
    = text_field_tag 'searchRequests', params[:term], class: 'form-control form-control-lg table-search', placeholder: t(:requests)[:filters][:search]
    = select_tag 'sort_by', request_sort_filter_options(params[:sort_by]), class: 'selectpicker filter-select', title: t(:requests)[:filters][:sort_by], include_blank: true, data: { field: 'sort_by', style: 'btn-lg btn-link filter', dropdown_align_right: 'true' }
    = select_tag 'sort_order', options_for_select(t(:constants)[:order].invert, params[:sort_order]), class: 'selectpicker filter-select', title: t(:requests)[:filters][:sort_order], include_blank: true, data: { field: 'sort_order', style: 'btn-lg btn-link filter', dropdown_align_right: 'true' }
    = select_tag 'status', request_status_filter_options(params[:status]), class: 'selectpicker filter-select', title: t(:requests)[:filters][:status], include_blank: true, data: { field: 'status', style: 'btn-lg btn-link filter', dropdown_align_right: 'true' }
    .dropdown.filter-select.d-block.d-sm-none
  .card-body.p-0
    .table-overflow
      %table.table.table-bordered.mb-0#requestsTable
        %thead
          %tr
            %th<
              = t(:requests)[:fields][:short_title]
            %th<
              = t(:requests)[:fields][:funding_status]
            %th<
              = t(:requests)[:fields][:funding_source]
            %th<
              = t(:requests)[:fields][:start_date]
            %th<
              = t(:requests)[:fields][:end_date]
            %th<
              = t(:requests)[:fields][:primary_pi]
            %th<
              = t(:requests)[:fields][:contact_email]
            %th<
              = t(:requests)[:fields][:service_source]
            %th<
              = t(:requests)[:fields][:specimens_requested]
            %th<
              = t(:requests)[:fields][:minimum_sample]
            %th<
              = t(:requests)[:fields][:query_name]
            %th<
              = t(:requests)[:fields][:status]
            %th<
              = t(:requests)[:fields][:actions]
        %tbody
          - if requests.any?
            - requests.each do |request|
              %tr
                %td<
                  = request.short_title
                %td<
                  = funding_statuses[request.funding_status]
                %td<
                  = funding_sources[request.funding_source]
                %td<
                  = format_date(request.start_date)
                %td<
                  = format_date(request.end_date)
                %td<
                  = request.primary_pi_name
                %td<
                  = request.primary_pi_email
                %td<
                  = request.service_source
                %td<
                  = request.number_of_specimens_requested
                %td<
                  = request.minimum_sample_size
                %td<
                  = request.query_name
                %td.text-center<
                  = status_context(request)
                %td.text-center<
                  = request_actions(request)
          - else
            %tr
              %td.no-records{ colspan: 13 }<
                = t(:constants)[:no_records]
