= render 'sparc_requests/header'
%main#content
  = render 'layouts/flash'
  = render 'sparc_requests/filters'
  = render 'sparc_requests/draft_requests', draft_requests: @draft_requests
  = render 'sparc_requests/requests', requests: @requests
