- content_for :header do
  = render 'sparc_requests/header'
= render 'sparc_requests/request', request: @sparc_request
.text-center.my-4
  .col-12.col-lg-6.offset-lg-3.d-flex
    = link_to sparc_requests_path, class: 'btn btn-lg btn-outline-primary media-body d-inline-flex align-items-center justify-content-center mr-4' do
      = icon('fas', 'file-invoice mr-1')
      = t('requests.view_all')
    = link_to "#{ENV.fetch('SPARC_HOST')}/dashboard/protocols/#{@sparc_request.protocol_id}", target: :_blank, class: 'btn btn-lg btn-outline-primary media-body d-inline-flex align-items-center justify-content-center' do
      = image_tag 'sparcrequest_icon.ico', width: 12, height: 12, class: 'mr-1'
      = t('requests.table.sparc_link')
