%p
  = t('mailers.service_mailer.locked_email.text1', service: @line_item.service.name).html_safe

%p
  = t('mailers.service_mailer.locked_email.text2')

%p
  = link_to t('mailers.service_mailer.locked_email.sparc_link'), "#{ENV.fetch('SPARC_HOST')}/dashboard/sub_service_requests/#{@sub_service_request.id}"

= render 'layouts/mailer/request_link', request: @line_item.sparc_request
= render 'layouts/mailer/request_information', request: @line_item.sparc_request
