%p
  = t('mailers.request_mailer.confirmation_email.text1')
= render 'layouts/mailer/request_link', request: @request
= render 'layouts/mailer/request_information', request: @request
%p
  = t('mailers.request_mailer.confirmation_email.text2')
%p
  = t('mailers.request_mailer.confirmation_email.text3').html_safe
%p
  = t('mailers.request_mailer.confirmation_email.text4')

- content_for :ps do
  %h4
    = t('mailers.request_mailer.confirmation_email.data_use_agreement')

  %blockquote{ style: "margin-left:0;padding-left:1rem;border-left:1px solid lightgray;"}
    = t('requests.create_confirm.html').html_safe
