%p
  = t('mailers.request_mailer.confirmation_email.text1')
%p
  = t('mailers.request_mailer.confirmation_email.text2')
%p
  = t('mailers.request_mailer.confirmation_email.text3', requests_link: sparc_requests_url, direct_link: sparc_request_url(@request)).html_safe
%p
  = t('mailers.request_mailer.confirmation_email.text4').html_safe
%p
  = t('mailers.request_mailer.confirmation_email.text5')

- content_for :ps do
  %h4
    = t('mailers.request_mailer.confirmation_email.data_use_agreement')

  %blockquote{ style: "margin-left:0;padding-left:1rem;border-left:1px solid lightgray;"}
    = t('requests.create_confirm.html').html_safe
