%p
  = t('mailers.request_mailer.submission_email.intro', requester: @user.display_name, date: format_date(Date.today))
%h3{ style: 'margin-bottom: 0;' }
  = @request.identifier
%p{ style: 'margin-top: 0;' }
  = raw t('mailers.request_mailer.primary_pi', pi_name: @request.primary_pi.display_name)
%h3{ style: 'margin-bottom: 0;' }
  = t(:mailers)[:request_mailer][:services_header]
- @request.line_items.includes(:service).each do |line_item|
  %p{ style: 'margin-top: 0;' }
    = raw t('mailers.request_mailer.submission_email.service', service: line_item.service.name, source: line_item.source.value, requested: line_item.number_of_specimens_requested, min_sample_size: line_item.minimum_sample_size)
