.modal-dialog{ role: 'document' }
  .modal-content
    = form_for user, url: permission_path(user), remote: true, method: :patch do |f|

      .modal-header
        %h4.modal-title
          = t('control_panel.user_management.change_permissions.title', user_name: user.full_name)
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-group.row
          = f.label :admin, t(:control_panel)[:user_management][:change_permissions][:admin], class: 'col-form-label col-6'
          .col-6.admin_selector
            = f.check_box :admin, data: { toggle: "toggle", on: t(:control_panel)[:user_management][:change_permissions][:enabled], off: t(:control_panel)[:user_management][:change_permissions][:disabled], style: 'btn-block' }
        .form-group.row
          = f.label :data_honest_broker, t(:control_panel)[:user_management][:change_permissions][:data_honest_broker], class: 'col-form-label col-6'
          .col-6
            = f.check_box :data_honest_broker, data: { toggle: "toggle", on: t(:control_panel)[:user_management][:change_permissions][:enabled], off: t(:control_panel)[:user_management][:change_permissions][:disabled], style: 'btn-block' }
        .form-group.row
          = f.label :group_ids, t(:control_panel)[:user_management][:change_permissions][:lab_honest_broker], class: 'col-form-label col-6'
          .col-6
            = f.select :group_ids, options_from_collection_for_select(groups, :id, :name, f.object.groups.ids), {}, class: 'form-control selectpicker', multiple: true
      .modal-footer
        = f.submit t(:control_panel)[:user_management][:change_permissions][:save], class: 'btn btn-primary submit'
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:control_panel)[:user_management][:change_permissions][:close]