.card#user_management
  .card-header
    %h4.card-title.text-center.mb-0
      = t(:control_panel)[:user_management][:title]
  %table.table.table-bordered.table-hover.mb-0.border-0
    %thead
      %tr
        %th.border-top-0.border-bottom-0.col-3
          = t(:control_panel)[:user_management][:headings][:name]
        %th.border-top-0.border-bottom-0.col-3
          = t(:control_panel)[:user_management][:headings][:email]
        %th.border-top-0.border-bottom-0.col-2
          = t(:control_panel)[:user_management][:headings][:privileges]
        %th.border-top-0.border-bottom-0.col-2
          = t(:control_panel)[:user_management][:headings][:honest_broker]
        %th.text-center.border-top-0.border-bottom-0.col-2
          = t(:control_panel)[:user_management][:headings][:manage]
    %tbody
      - @users.each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.email
          %td
            - if user.admin || user.lab_honest_broker? || user.data_honest_broker?
              %span.d-inline-flex.text-danger.mr-1{ title: user.admin? ? t(:control_panel)[:user_management][:tooltips][:admin] : '', data: { toggle: "tooltip" } }
                = icon('fas', 'user-cog fa-lg', class: user.admin? ? '' : 'invisible')
              %span.d-inline-flex.text-primary.mr-1{ title: user.lab_honest_broker? ? t(:control_panel)[:user_management][:tooltips][:lab_honest_broker] : '', data: { toggle: "tooltip" } }
                = icon('fas', 'user-tag fa-lg', class: user.lab_honest_broker? ? '' : 'invisible')
              %span.d-inline-flex.text-success{ title: user.data_honest_broker? ? t(:control_panel)[:user_management][:tooltips][:data_honest_broker] : '', data: { toggle: "tooltip" } }
                = icon('fas', 'user-check fa-lg', class: user.data_honest_broker? ? '' : 'invisible')
            - else
              %span.d-inline-flex{ title: t(:control_panel)[:user_management][:tooltips][:user], data: { toggle: "tooltip" } }
                = icon('fas', 'user fa-lg')
          %td
            - if user.groups.present?
              = user.groups.map(&:name).join('<br>').html_safe
            - else
              = " - "
          %td.text-center
            = link_to icon('fas', 'pencil-alt'), edit_permission_path(id: user), class: 'btn btn-warning', data: {toggle: "tooltip", title: t(:control_panel)[:user_management][:tooltips][:edit_user] }, remote: true