.col-xl-3.col-lg-6.col-md-9.mx-auto.h-50#loginContainer
  .card
    .card-header.bg-dark
      %h1.text-center.text-white.m-0
        = t(:site_name)
    .card-body
      %h2.card-title
        = t(:login)[:header]
      = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        - if flash[:alert]
          .form-group
            - flash.each do |k,v|
              %span.form-text.form-error
                = v
        .form-group
          = f.text_field :net_id, autofocus: true, class: ['form-control', flash[:alert] ? 'is-invalid' : ''], placeholder: t(:login)[:net_id]
        .form-group
          = f.password_field :password, autocomplete: 'off', class: ['form-control', flash[:alert] ? 'is-invalid' : ''], placeholder: t(:login)[:password]
        - if devise_mapping.rememberable?
          .form-group.form-check
            = f.check_box :remember_me, class: 'form-check-input'
            = f.label :remember_me, t(:login)[:remember_me], class: 'form-check-label'
        = f.submit t(:login)[:submit], class: 'btn btn-lg btn-block btn-dark'
