.card.col-lg-6.col-md-9.mx-auto#loginForm
  .card-body
    %h2.card-title
      = t(:login)[:header]
    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      - if flash[:alert]
        .alert.alert-danger#errorMessages
          %ul.list-unstyled.mb-0
            %li
              = flash[:alert]
      .form-group
        = f.text_field :login, autofocus: true, class: 'form-control', placeholder: t(:login)[:net_id]
      .form-group
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t(:login)[:password]
      - if devise_mapping.rememberable?
        .form-group.form-check
          = f.check_box :remember_me, class: 'form-check-input'
          %label.form-check-label{ for: 'user_remember_me' }
            = t(:login)[:remember_me]
      = f.submit t(:login)[:submit], class: 'btn btn-lg btn-block btn-primary'
