.d-flex.flex-column.col-xl-6.col-lg-8.col-11.mx-auto#loginContainer
  .card.my-auto
    .card-header.bg-dark.text-white.text-center
      .display-3.d-none.d-sm-block
        = t('site_information.name')
      %h1.d-block.d-sm-none
        = t('site_information.name')
    .card-body.px-sm-5
      = render 'layouts/environment'
      %h4.font-weight-bold.text-center.mb-3
        = t(:home)[:header]
      %p
        = t(:home)[:text1]
      %p
        = t(:home)[:text2]
      %p
        = t(:home)[:text3]
      %p
        = t(:home)[:text4]
      .d-flex.justify-content-between.flex-wrap
        .d-flex.flex-column.mb-3.mb-sm-0
          %h5.font-weight-bold
            = t(:home)[:links][:help1][:text]
          = link_to t(:home)[:links][:help1][:link], "https://i2b2.musc.edu/", target: :_blank
        .d-flex.flex-column.mb-3.mb-sm-0
          %h5.font-weight-bold
            = t(:home)[:links][:help2][:text]
          = link_to t(:home)[:links][:help2][:link], "https://www.actnetwork.us/national/act-local-landing-pages-46EU-1434P4.html", target: :_blank
        .d-flex.flex-column
          %h5.font-weight-bold
            = t(:home)[:links][:help3][:text]
          %ul.pl-3
            %li
              = link_to t(:home)[:links][:help3][:link1], "https://medicine.musc.edu/-/sm/medicine/departments/centers/bmic/f/basic-i2b2-guide.ashx?la=en", target: :_blank
            %li
              = link_to t(:home)[:links][:help3][:link2], "https://medicine.musc.edu/departments/centers/bmic/data-request/faqs", target: :_blank
      - if Rails.env.development? || Rails.env.test?
        %h3.text-center
          = t(:home)[:login][:header]
        %p
          = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
            - if flash[:alert]
              .form-group
                - flash.each do |k,v|
                  %span.form-text.form-error
                    = v
            .form-group
              = f.text_field :net_id, autofocus: true, class: ['form-control', flash[:alert] ? 'is-invalid' : ''], placeholder: t(:home)[:login][:net_id]
            .form-group
              = f.password_field :password, autocomplete: 'off', class: ['form-control', flash[:alert] ? 'is-invalid' : ''], placeholder: t(:home)[:login][:password]
            - if devise_mapping.rememberable?
              .form-group.form-check
                = f.check_box :remember_me, class: 'form-check-input'
                = f.label :remember_me, t(:home)[:login][:remember_me], class: 'form-check-label'
            = f.submit t(:home)[:login][:submit], class: 'btn btn-lg btn-block btn-primary'
      - else
        .text-center
          = link_to t(:home)[:login][:shibboleth], user_session_path, method: :post, class: 'btn btn-lg btn-block btn-primary'
      .d-flex.justify-content-center.mt-3
        .d-flex.flex-column.text-center
          .font-weight-bold
            = t(:home)[:links][:contact][:header]
          = t(:home)[:links][:contact][:link].html_safe
  .d-flex.flex-column.justify-content-end
    %p.text-muted.text-center.mb-1.mt-3
      = t('site_information.version', site_name: t('site_information.name'), version: ENV.fetch('APP_VERSION'))
    %p.text-muted.text-center.mb-0
      = t('site_information.copyright').html_safe
