.modal-dialog{ role: 'document' }
  .modal-content
    = form_for group, url: control_panel_group_path(group), remote: true do |f|

      .modal-header
        %h4.modal-title
          = "Manage #{group.name} Lab"
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
      .modal-footer
        = f.submit t('actions.save'), class: 'btn btn-primary'
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t('actions.close')
