- content_for :subheader do
  %filters.table-filters#sourceFilters{ data: { url: control_panel_group_sources_path(group) } }
    -#= text_field_tag 'searchSources', params[:term], class: 'form-control form-control-lg table-search', placeholder: t('actions.search')
    .flex-fill
    .new-record-btn-container
      = link_to new_control_panel_group_source_path(group), remote: true, class: 'btn btn-lg btn-success new-record-btn' do
        = succeed t('control_panel.groups.sources.new') do
          = icon('fas', 'plus mr-2')

.col-8.offset-2#groupSection
  .card
    %table.table.table-bordered.table-hover.mb-0.border-0#groupSources
      %thead
        %tr
          %th.col-10
            = t('control_panel.groups.sources.table.sources')

          %th.col-2.text-center
            = t('control_panel.groups.sources.table.actions')
      %tbody
        - group.active_groups_sources.each do |groups_source|
          %tr
            %td 
              = groups_source.source.value
              - if groups_source.name.present?
                = " (#{groups_source.name})"
              -else
                = t('control_panel.groups.sources.table.no_alias').html_safe
            %td.text-center
              = link_to edit_control_panel_group_source_path(group, groups_source), remote: true, class: 'btn btn-warning mr-1' do
                = icon('fas', 'pencil-alt')
              = link_to control_panel_group_source_path(group, groups_source), remote: true, method: :delete, class: 'btn btn-danger', data: { confirm_swal: 'true' } do
                = icon('fas', 'trash')
