.row
  .col-2
    = link_to new_control_panel_group_source_path(group), remote: true, class: 'btn btn-success' do
      = icon('fas', 'plus mr-2')
      = t('control_panel.groups.sources.new_source')

  .col-8
    .card
      %table.table.table-bordered.table-hover.mb-0.border-0#groupSources
        %thead
          %tr
            %th.col-5.d-none.d-md-table-cell.border-left-0
              = t('control_panel.groups.sources.table.sources')

            %th.col-5.d-none.d-md-table-cell
              = t('control_panel.groups.sources.table.actions')
        %tbody
          - group.active_groups_sources.each do |groups_source|
            %tr
              %td 
                = groups_source.source.value
                - if groups_source.name.present?
                  = " (#{groups_source.name})"
                -else
                  = t('control_panel.groups.sources.table.no_alias').html_safe
              %td
                .row
                  .col-1       
                    = link_to edit_control_panel_group_source_path(group, groups_source), remote: true, class: 'btn btn-warning' do
                      = icon('fas', 'pencil-alt')
                  .col-1
                    = link_to control_panel_group_source_path(group, groups_source), remote: true, method: :delete, class: 'btn btn-danger' do
                      = icon('fas', 'trash')
                  
