.card.control-panel#userManagement
  .card-header
    %h4.card-title.text-center.mb-0
      = t(:control_panel)[:user_management][:title]
  %table.table.table-bordered.table-hover.mb-0.border-0
    %thead
      %tr
        %th.col-3.d-table-cell.d-md-none
          = t(:control_panel)[:user_management][:headers][:user]
        %th.col-3.d-none.d-md-table-cell.border-left-0
          = t(:control_panel)[:user_management][:headers][:name]
        %th.col-3.d-none.d-md-table-cell
          = t(:control_panel)[:user_management][:headers][:email]
        %th.col-3
          = t(:control_panel)[:user_management][:headers][:privileges]
        %th.col-2
          = t(:control_panel)[:user_management][:headers][:honest_broker]
        %th.text-center.col-1
          = t(:control_panel)[:user_management][:headers][:manage]
    %tbody
      - if users.any?
        - users.each do |user|
          %tr
            %td.col-3.d-table-cell.d-md-none.text-break<
              = user.full_name
              %br
              = user.email
            %td.col-3.d-none.d-md-table-cell.border-left-0
              = user.full_name
            %td.col-3.d-none.d-md-table-cell
              = user.email
            %td.col-2
              = user_permissions_display(user)
            %td.col-2.text-break
              - if user.lab_honest_broker?
                - user.groups.each do |group|
                  .d-flex
                    %span.mr-1<
                      = "-"
                    %span<
                      = "#{group.name}"
            %td.col-1.text-center
              = edit_user_button(user)
      - else
        %tr
          %td{ colspan: 5 }
            %p.text-center.mb-0
              = t(:constants)[:no_records]

= will_paginate users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end mb-0)
