- @patients.each do |patient|
  .card.bg-dark.my-2.text-light
    %h3.card-header
      = "MRN: #{patient.mrn}"
      - patient.labs.group_by(&:specimen_source).each do |source, group|
        .card.text-dark.mb-1
          %h5.card-header
            = "#{source}: Qty. #{group.size}"
            .card-body.pl-5
              = "Placeholder text for requests for specimen"
         
      
              
