- labs.usable.retrievable(current_user).order(status: :desc).each do |lab|
  .card
    .card-header
      .row
        %h3.d-flex.w-100.font-weight-bold.m-0
          .col-10
            = t('labs.fields.header', accession_number: lab.accession_number, source: lab.source.key)
            %br
            %small.text-muted
              - if current_user.honest_broker.display_patient_information?
                = t('labs.fields.sub_header_with_patient_name', id: lab.identifier, mrn: lab.mrn, lastname: lab.patient.lastname, firstname: lab.patient.firstname, dob: format_date(lab.dob))
              - else
                = t('labs.fields.sub_header_without_patient_name', id: lab.identifier, mrn: lab.mrn, dob: format_date(lab.dob))
          .col-2.text-right
            = lab_status_context(lab)
    .card-body
      - if lab.available?
        - lab.line_items.each do |line_item|
          .row.mb-3
            .col-10
              %h5.font-weight-bold.mb-0
                = request_title_display(line_item.sparc_request)
              .d-flex.pl-3
                %p.d-flex.align-items-center.mb-0.ml-2
                  = request_duration_display(line_item.sparc_request)
              - if current_user.honest_broker.process_sample_size?
                .d-flex.pl-3
                  %p.mb-0.service-display<
                    = icon('fas', 'flask mr-2')
                    = t('labs.fields.samples_needed', requested_number: line_item.number_of_specimens_requested, requested_size: line_item.minimum_sample_size).html_safe
            .col-2.text-right
              = link_to lab_path(lab, type: "release", line_item_id: line_item), remote: true, class: "btn btn-primary", title: t(:labs)[:actions][:release_specimen], data: {toggle: "tooltip"}, method: :patch do
                = icon('fas', 'dolly')
            .col-12
              .pl-3
                = render 'line_items/progress_bar', li: lab.line_item
      - elsif lab.released?
        .row
          .col-10
            %h5.font-weight-bold.mb-0
              =  request_title_display(lab.line_item.sparc_request)
            .d-flex.pl-3
              = request_duration_display(lab.line_item.sparc_request)
          .col-2.text-right
            = link_to lab_path(lab, type: "retrieve"), remote: true, class: "btn btn-success mr-1", title: t(:labs)[:actions][:retrieve_specimen], data: {toggle: "tooltip"}, method: :patch do
              = icon('fas', 'check-circle')
            = link_to lab_path(lab, type: "discard"), remote: true, class: "btn btn-danger", title: t(:labs)[:actions][:discard_specimen], data: {toggle: "tooltip"}, method: :patch do
              = icon('fas', 'trash-alt')
