#specimens
  - if labs.any?
    - labs.each do |lab|
      .card
        .card-header{ class: lab.received? || lab.discarded? ? 'collapsed' : '', data: { toggle: 'collapse', target: ".specimen-#{lab.id}-collapse" } }
          .row
            .col-12.col-sm-10.d-flex.flex-column.justify-content-between
              %h3.d-flex.align-items-center.w-100.font-weight-bold.mb-1
                = icon('fas', 'caret-down mr-2 mt-1')
                = t('labs.fields.header', id: lab.id, source: lab.source.value, accession_number: lab.accession_number)
                .d-none.d-sm-block
                  = lab_status_context(lab)
            .col-12.col-sm-2.d-flex.flex-wrap.align-items-start.justify-content-between.justify-content-sm-end
              %h3.d-block.d-sm-none.mb-0
                = lab_status_context(lab)
              - if lab.released?
                = lab_actions(lab)
        .collapse{ class: ["specimen-#{lab.id}-collapse", lab.received? || lab.discarded? ? '' : 'show'] }
          .card-body
            %h4
              %small.text-muted<
                = lab_patient_information(lab)
            - if lab.available?
              - if lab.line_items.any?
                %h4.card-title.font-weight-bold
                  = t('labs.table.requests.header')
                - lab.line_items.each do |line_item|
                  .row.specimen-line-item
                    .col-4.d-flex
                      .d-flex.align-items-start.mr-2
                        = release_lab_button(lab, line_item)
                      .d-flex.flex-column.mr-2
                        %h5.font-weight-bold.mb-0
                          = request_title_display(line_item.sparc_request)
                        %h5.text-muted.mb-0
                          %small
                            = requester_display(line_item.sparc_request)
                    .col-8.pl-0
                      .d-flex.flex-column.flex-fill
                        .d-flex.justify-content-between
                          .w-50
                            - if current_user.honest_broker.process_sample_size?
                              = lab_sample_size_display(line_item)
                          .w-50.d-flex.justify-content-end
                            %p.mb-0
                              = request_duration_display(line_item.sparc_request)
                        = render 'line_items/progress_bar', li: line_item
            - elsif lab.released?
              - line_item = lab.line_item
              %h4.card-title.font-weight-bold
                = "Specimen Released To"
              .row.specimen-line-item
                .col-4.d-flex
                  .d-flex.flex-column.mr-2
                    %h5.font-weight-bold.mb-0
                      = request_title_display(line_item.sparc_request)
                    %h5.text-muted.mb-0
                      %small
                        = requester_display(line_item.sparc_request)
                .col-8.pl-0
                  .d-flex.flex-column.flex-fill
                    .d-flex.justify-content-between
                      .w-50
                        - if current_user.honest_broker.process_sample_size?
                          = lab_sample_size_display(line_item)
                      .w-50.d-flex.justify-content-end
                        %p.mb-0
                          = request_duration_display(line_item.sparc_request)
                    = render 'line_items/progress_bar', li: lab.line_item
  - else
    .card
      .card-body
        %p.text-center.mb-0
          = t(:constants)[:no_records]
