#specimens
  - if labs.any?
    - labs.each do |lab|
      .card.specimen
        - collapse = (lab.retrieved? && params[:status] != t(:labs)[:statuses][:available]) || (lab.discarded? && params[:status] != t(:labs)[:statuses][:discarded])
        .card-header{ class: collapse ? 'collapsed' : '', data: { toggle: 'collapse', target: ".specimen-#{lab.id}-collapse" } }
          .row
            .col-12.col-sm-10.d-flex.flex-column.justify-content-between
              %h4.d-flex.w-100.font-weight-bold.mb-2.mb-sm-0
                %span
                  = icon('fas', 'caret-down mr-2 mt-0 mt-sm-1')
                %span.mt-0.mt-sm-1
                  = lab_header_display(lab)
                .d-none.d-sm-inline-block
                  = lab_status_context(lab)
            .col-12.col-sm-2.d-flex.flex-wrap.align-items-start.justify-content-between.justify-content-sm-end
              %h4.d-block.d-sm-none.mb-0
                = lab_status_context(lab)
              = lab_actions(lab)
        .collapse{ class: ["specimen-#{lab.id}-collapse", collapse ? '' : 'show'] }
          .card-body
            .d-flex.flex-wrap.justify-content-between
              %h4
                %small.text-muted<
                  = lab_patient_information(lab)
              - if lab.line_item_id || lab.retrieved?
                %h4.text-right
                  %small.text-muted<
                    = lab_releaser_information(lab)
              - if lab.discarded?
                %h4.text-right
                  %small.text-danger<
                    = lab_discarder_information(lab)
              - elsif lab.retrieved?
                %h4.text-right
                  %small.text-success<
                    = lab_retriever_information(lab)
            - if lab.available?
              - if lab.line_items.any?
                %h4.card-title.font-weight-bold
                  = t('labs.table.requests.header')
                - lab.line_items.eager_load(:labs, :group).preload(sparc_request: [:protocol, :primary_pi, :requester]).reject(&:complete?).each do |line_item|
                  .row.line-item.specimen-line-item
                    .col-sm-4.col-12.d-flex
                      .d-flex.align-items-start.mr-2
                        = release_lab_button(lab, line_item)
                      .d-flex.flex-column.mr-2
                        %h5.font-weight-bold.mb-0
                          = request_title_display(line_item.sparc_request)
                        %h5.text-muted.mb-0
                          %small
                            = requester_display(line_item.sparc_request)
                    .col-sm-8.col-12.pl-sm-0
                      .d-flex.flex-column.flex-fill
                        .d-flex.justify-content-between.order-last.order-sm-first
                          .w-50
                            = lab_sample_size_display(line_item)
                          .w-50.d-flex.justify-content-end
                            %p.mb-0
                              = request_duration_display(line_item.sparc_request)
                        = render 'line_items/progress_bar', li: line_item
            - else
              - if lab.line_item.present?
                %h4.card-title.font-weight-bold
                  = t('labs.table.released.header')
                .row.line-item.specimen-line-item
                  .col-sm-4.col-12.d-flex
                    .d-flex.flex-column.mr-2
                      %h5.font-weight-bold.mb-0
                        = request_title_display(lab.sparc_request)
                      %h5.text-muted.mb-0
                        %small
                          = requester_display(lab.sparc_request)
                  .col-sm-8.col-12.pl-sm-0
                    .d-flex.flex-column.flex-fill
                      .d-flex.justify-content-between.order-last.order-sm-first
                        .w-50
                          - if lab.group.process_sample_size?
                            = lab_sample_size_display(lab.line_item)
                        .w-50.d-flex.justify-content-end
                          %p.mb-0
                            = request_duration_display(lab.sparc_request)
                      = render 'line_items/progress_bar', li: lab.line_item
              - if lab.discarded?
                %h4.card-title.font-weight-bold{ class: lab.line_item_id ? 'mt-3' : '' }
                  = Lab.human_attribute_name(:discard_reason)
                .row
                  %blockquote.blockquote.mb-0.col-12.col-sm-6
                    = lab.discard_reason.present? ? lab.discard_reason : t('labs.table.discarded.reason_blank')
    = render 'layouts/pagination', records: labs, filter_params: lab_filter_params.merge({ controller: 'labs', action: 'index' })
  - else
    .card
      .card-body
        %p.text-center.mb-0
          = t(:constants)[:no_records]
