- @labs.each do |lab|
  .card
    .card-header.bg-white
      .row
        .col-5.h3.font-weight-bold
          = "Accession Number: #{lab.accession_number}"
        .col-5.h5{style: "margin-top: 6px;"}
          = "MRN: #{lab.patient.mrn}  |  DOB: #{lab.patient.dob}"
        .col-2.h4
          - if lab.status == 'Available'
            .badge.badge-primary
              = "#{lab.status}"
          - elsif lab.status == 'Released'
            .badge.badge-success
              = "#{lab.status}"
    %h5.card-body
      = "#{lab.specimen_source}"
      %p.mx-4
        = "Placeholder text for studies"