%filters.table-filters#specimenFilters{ data: { url: labs_path } }
  = table_search('searchLabs')
  .d-flex.align-items-center.filter.filter-date
    .input-group.input-daterange.date.flex-nowrap{ title: Lab.human_attribute_name(:specimen_date), data: { provide: 'datepicker', date_autoclose: 'true', date_today_highlight: 'true', date_orientation: 'bottom', toggle: 'tooltip' } }
      = text_field_tag 'start_date', params[:specimen_date_start], class: 'form-control form-control-lg', placeholder: t('labs.filters.specimen_date.start'), data: { field: 'specimen_date_start' }
      .input-group-append.input-group-prepend
        %label.input-group-text<
          = t('labs.filters.specimen_date.to')
      = text_field_tag 'end_date', params[:specimen_date_end], class: 'form-control form-control-lg', placeholder: t('labs.filters.specimen_date.end'), data: { field: 'specimen_date_end' }
  .tooltip-wrapper.d-flex{ title: t('labs.filters.status'), data: { toggle: 'tooltip' } }
    = select_tag 'status', lab_status_filter_options(params[:status]), class: 'selectpicker filter-select form-control', data: { field: 'status', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t('labs.filters.status') }
  .tooltip-wrapper.d-flex{ title: t('labs.filters.source'), data: { toggle: 'tooltip' } }
    = select_tag 'source', lab_source_filter_options(params[:source]), class: 'selectpicker filter-select form-control', data: { field: 'source', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t('labs.filters.source') }
  .tooltip-wrapper.d-flex{ title: t(:labs)[:filters][:sort_by], data: { toggle: 'tooltip' } }
    = select_tag 'sort_by', lab_sort_filter_options(params[:sort_by]), class: 'selectpicker filter-select form-control', title: t(:labs)[:filters][:sort_by], data: { field: 'sort_by', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:labs)[:filters][:sort_by] }
  .tooltip-wrapper.d-flex{ title: t(:labs)[:filters][:sort_order], data: { toggle: 'tooltip' } }
    = select_tag 'sort_order', lab_sort_order_options(params[:sort_order]), class: 'selectpicker filter-select form-control', data: { field: 'sort_order', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:labs)[:filters][:sort_order] }
