.card.mb-4#specimenFilters
  .card-header.border-bottom-0.table-filters{ data: { url: labs_path } }
    = text_field_tag 'searchLabs', params[:term], class: 'form-control form-control-lg table-search', placeholder: t(:labs)[:filters][:search]
    .d-flex.align-items-center.filter.mr-2
      %h5.font-weight-normal.mb-0.text-nowrap
        = t('labs.filters.date_released.label')
      .input-group.input-daterange.date.filter-date{ data: { provide: 'datepicker', date_autoclose: 'true', date_today_highlight: 'true' } }
        = text_field_tag 'start_date', params[:released_at_start], class: 'form-control form-control-lg', placeholder: t('labs.filters.date_released.start'), data: { field: 'released_at_start' }
        .input-group-append.input-group-prepend
          %label.input-group-text<
            = t('labs.filters.date_released.to')
        = text_field_tag 'end_date', params[:released_at_end], class: 'form-control form-control-lg', placeholder: t('labs.filters.date_released.end'), data: { field: 'released_at_end' }
    .tooltip-wrapper.d-flex{ title: t('labs.filters.status'), data: { toggle: 'tooltip' } }
      = select_tag 'status', lab_status_filter_options(params[:status]), class: 'selectpicker filter-select', data: { field: 'status', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t('labs.filters.status') }
    .tooltip-wrapper.d-flex{ title: t('labs.filters.source'), data: { toggle: 'tooltip' } }
      = select_tag 'source', lab_source_filter_options(params[:source]), class: 'selectpicker filter-select', data: { field: 'source', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t('labs.filters.source') }
    .tooltip-wrapper.d-flex{ title: t(:labs)[:filters][:sort_by], data: { toggle: 'tooltip' } }
      = select_tag 'sort_by', lab_sort_filter_options(params[:sort_by]), class: 'selectpicker filter-select', title: t(:labs)[:filters][:sort_by], data: { field: 'sort_by', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:labs)[:filters][:sort_by] }
    .tooltip-wrapper.d-flex{ title: t(:labs)[:filters][:sort_order], data: { toggle: 'tooltip' } }
      = select_tag 'sort_order', options_for_select(t(:constants)[:order].invert, params[:sort_order] || :desc), class: 'selectpicker filter-select', data: { field: 'sort_order', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t(:labs)[:filters][:sort_order] }
