<h1>Labs</h1>
<table class="table table-striped table-bordered">
  <tr>
    <th>MRN</th>
    <th>Potential Samples Available</th>
    <th>Specimen Source</th>
    <th>Eligible Protocols</th>
    <th>Actions</th>
  </tr>
  <% labs.each do |grouping, labs| %>
    <tr>
      <td><%= labs.first.mrn %></td>
      <td><%= labs.count %></td>
      <td><%= labs.first.specimen_source %></td>
      <td>
        <%- protocols = labs.map(&:protocols).flatten.uniq %>
        <%- protocols.each do |p| %>
          <%= protocol_preview(p) %>
        <%- end %>
      </td>
      <td>
        <div class='btn-group'>
          <%= link_to 'Release', new_specimen_record_path(protocol_ids: protocols.map(&:id).join(':')),  class: 'btn btn-primary', remote: true %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
