.card#labs
  .card-header.table-filters{ data: { url: labs_path } }
    = select_tag 'sort_by', lab_sort_filter_options(params[:sort_by]), class: 'selectpicker filter-select', title: t(:labs)[:filters][:sort_by], include_blank: true, data: { field: 'sort_by', style: 'btn-lg btn-link filter' }
    = select_tag 'sort_order', options_for_select(t(:constants)[:order].invert, params[:sort_order]), class: 'selectpicker filter-select', title: t(:labs)[:filters][:sort_order], include_blank: true, data: { field: 'sort_order', style: 'btn-lg btn-link filter' }
  .card-body
    .table-overflow
      %table.table.table-sm.table-bordered.mb-0#labsTable
        %thead
          %tr
            %th.col-2
              = t(:labs)[:fields][:mrn]
            %th.col-2
              = t(:labs)[:fields][:samples_available]
            %th.col-3
              = t(:labs)[:fields][:specimen_source]
            %th.col-3
              = t(:labs)[:fields][:protocols]
            %th.col-2
              = t(:labs)[:fields][:actions]
        %tbody
          - if lab_groups.any?
            - lab_groups.each do |grouping, labs|
              %tr
                %td
                  = grouping[:patient].mrn
                %td
                  = labs.count
                %td
                  = grouping[:specimen_source]
                %td
                  = raw(protocols_preview(grouping[:patient].protocols))
                %td.text-center
                  = release_lab_button(grouping[:patient])
          - else
            %tr
              %td.no-records{ colspan: 5 }
                = t(:constants)[:no_records]
