%header
  .page-title
    = icon('fas', 'flask')
    %span
      = t(:labs)[:header]

%main#content
  = render 'layouts/flash'
  #verifySpecimensContainer
    %input.form-control.form-control-lg#verifySpecimens{ type: 'text', placeholder: t(:labs)[:search] }
    = icon('fas fa-2x', 'search')
  .card
    .card-body
      = render 'labs/table', lab_groups: @lab_groups
