- content_for :header do
  %header
    .page-title
      = icon('fas', 'flask')
      %span
        = t(:labs)[:header]

.mb-4#verifySpecimensContainer
  = text_field_tag 'verifySpecimens', '', class: 'form-control form-control-lg', placeholder: t(:labs)[:search][:placeholder], autofocus: true
  = icon('fas fa-2x', 'search')
= render 'labs/display', labs: @labs
