%header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.border-bottom.p-0
    .container-fluid.align-items-stretch.h-100.p-0
      .navbar-header.d-flex.justify-content-between.h-100.pl-0
        %a.navbar-brand.m-0{ href: root_path }
          = t(:header)[:brand]
        %button.navbar-toggler.align-self-center{ type: 'button', data: { toggle: 'collapse', target: '#navbarLinks' }, aria: { controls: 'navbarLinks' } }
          %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarLinks
        %ul.navbar-nav.ml-auto.h-100
          - if user_signed_in?
            - if current_user.honest_broker?
              %li.nav-item
                = link_to t(:header)[:labs], labs_path, class: ['nav-link container h-100', controller_name == 'labs' ? 'active' : '']
            %li.nav-item
              = link_to t(:header)[:requests], sparc_requests_path, class: ['nav-link container h-100', controller_name == 'sparc_requests' ? 'active' : '']
            %li.nav-item
              = link_to t(:header)[:logout], destroy_user_session_path, method: 'delete', id: 'logout', class: 'nav-link container text-danger h-100'
          - else
            %li.nav-item
              = link_to t(:header)[:login], new_user_session_path, id: 'login', class: 'nav-link container h-100'
