!!!
%html
  %head
    = csrf_meta_tags
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %title
      = t('site_information.name')
  %body
    = render 'layouts/environment'
    = render 'layouts/navigation'
    = content_for(:header)
    %main#content
      = render 'layouts/flash'
      = yield
    = render 'layouts/modal'
    = render 'layouts/i18n_js'
