!!!
%html
  %head
    = csrf_meta_tags
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %title
      = application_title()
  %body
    = render 'layouts/navigation'
    .d-flex.flex-column.flex-fill#contentContainer
      = yield(:header) if content_for(:header)
      = yield(:subheader) if content_for(:subheader)
      = yield(:filters) if content_for(:filters)
      %main.d-flex.flex-column#content
        = render 'layouts/environment'
        = render 'layouts/flash'
        = yield(:content) if content_for(:content)
        = yield
        = render 'layouts/footer'
    = render 'layouts/modal'
    = render 'layouts/i18n_js'
