<!DOCTYPE html>
<html>
  <head>
    <title>SPARC Living Biobank</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <br />
    <br />
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
