!!!
%html
  %head
    = csrf_meta_tags
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %title
      = t(:site_name)
  %body
    = render 'layouts/navigation'
    = yield
    = render 'layouts/modal'
    :javascript
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale || I18n.default_locale %>"
