!!!
%html
  %head
    = csrf_meta_tags
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %title
      = application_title()
  %body
    .col-xl-6.col-lg-8.col-md-11.mx-auto.mt-5#errorContainer
      .card.my-auto
        .card-body.text-center.p-sm-5
          .card-title.justify-content-center.display-1
            = t('site_information.title.base')
          = render 'layouts/environment'
          .alert.alert-danger.mb-5
            .display-3.text-danger
              = "#{t("errors.#{action_name}.header")} - #{response.status}"
          = yield
    = render 'layouts/i18n_js'
